{% extends 'base.html.twig' %}

{% block title %}Profil{% endblock %}

{% block main %}

        <h1>Profil</h1>
            <img id="photo_profil" src="/profil/{{ app.user.getUrlPhotoProfil() }}" alt="Photo de profil" title="Photo de profil"><br>
            <h2>{{ app.user.getUsername }}</h2>
            <p> Adresse email : {{ app.user.userIdentifier }}</p>
            <p>Inscris depuis le {{ app.user.getDateInscription|format_datetime('full', 'short') }}</p>
            <br><br>
            <a href="{{ path('app_logout') }}"><button class="btn">Se déconnecter</button></a>
            
{% endblock %}
