{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block main %}

    <h1 class="pc">Je crée mon compte</h1>

    <div id="authPanel">

        <h1 class="mobile">Je crée mon compte</h1>

        {{ form_errors(registrationForm) }}

        {{ form_start(registrationForm) }}
            {{ form_row(registrationForm.username, {
                label: 'Nom d\'utilisateur',
                'row_attr': {'class': 'label_input'}})
                }}<br>
            {{ form_row(registrationForm.email, {
                label: 'Adresse e-mail',
                'row_attr': {'class': 'label_input'}})
                }}<br>
            {{ form_row(registrationForm.plainPassword, {
                label: 'Mot de passe',
                'row_attr': {'class': 'label_input'}})
                }}<br>
            {{ form_label(registrationForm.urlPhotoProfil, 'Photo de profil')
                }}<br>
            {{ form_widget(registrationForm.urlPhotoProfil, {
                'row_attr': { 'class': 'label_input' }})
                }}<br>
            {{ form_row(registrationForm.agreeTerms, {
                label: 'J\'accepte les termes'})
                }}<br>

            <button type="submit" class="btn">Créer mon compte</button><br>
        <a class="login_link" href="{{ path('app_login') }}">J'ai déjà un compte, me connecter</a>

        {{ form_end(registrationForm) }}

    </div>
{% endblock %}
