{% extends 'base.html.twig' %}

{% block title %}Créer une figure{% endblock %}

{% block main %}

    <h1 class="pc">Créer une nouvelle figure</h1>

<div id="authPanel">

    <h1 class="mobile">Créer une nouvelle figure</h1>

        {{ form_errors(form) }}

        {{ form_start(form) }}
            {{ form_row(form.nom, {
                label: 'Nom de la figure',
                'row_attr': {'class': 'label_input'}})
                }}<br>
            {{ form_row(form.description, {
                label: 'Déscription',
                'row_attr': {'class': 'label_input'}})
                }}<br>
            {{ form_row(form.groupe, {
                label: 'Groupe de la figure',
                'row_attr': {'class': 'label_input'}})
                }}<br>
            {{ form_label(form.images, 'Médias de la figure') }}
                <br>
            {{ form_widget(form.images, {'row_attr': {'class': 'label_input'}}) }}
                <br>
            {{ form_row(form.embeds, {
                label: 'Balises embed (une par ligne)',
                'row_attr': {'class': 'label_input'}}) }}
                <br>

            <button type="submit" class="btn">Créer la figure</button>

        {{ form_end(form) }}<br>
        <div id="cancel">
            <a href="{{ path('app_home') }}#tricksList">Annuler</a>
        </div>
</div>
{% endblock %}
