{% if app.user %}
    <a id="plus_link" href="{{ path('app_create_figure') }}" title="Créer une nouvelle figure">
        <div id="add_figure">
            <div id="plus">
                <p>+</p>
            </div>
        </div>
    </a>
{% endif %}

{% for figure in figures %}
    <div class="trick">
        <div class="image_container">
            {% if imagesByFigure[figure.id] is defined %}
                <img src="/medias/{{ imagesByFigure[figure.id] }}" alt="Image de la figure" title="{{ figure.groupe }}">
            {% else %}
                <img src="/images/home_img.jpg" alt="Image par défaut" title="{{ figure.groupe }}">
            {% endif %}
        </div>
        <div class="read_trick">
            <a href="{{ path('app_figure_details', {'slug': figure.slug } ) }}" title="Voir la page">
                <h2>{{ figure.nom }}</h2>
            </a>
            {% if app.user %}
                <div class="modify_delete">
                    <a href="{{ path('app_figure_edit', {'slug': figure.slug }) }}"><img src="/images/pencil.png" alt="Logo d'un crayon" title="Modifier la figure"></a>
                    <a href="{{ path('app_figure_delete', {'slug': figure.slug }) }}" onclick="return confirm('Êtes-vous sûr de vouloir supprimer cette figure ?')"><img src="/images/trash.png" alt="Logo d'une corbeille" title="Supprimer la figure"></a>
                </div>
            {% endif %}
        </div>
    </div>
{% endfor %}
