{% extends 'base.html.twig' %}

{% block title %}Créer une figure{% endblock %}

{% block main %}

<div id="registration">

    <h1>Créer une nouvelle figure</h1>

        {{ form_errors(FigureForm) }}

        {{ form_start(FigureForm) }}
            {{ form_row(FigureForm.nom, {
                label: 'Nom de la figure',
                'row_attr': {'class': 'label_input'}})
                }}<br>
            {{ form_row(FigureForm.description, {
                label: 'Déscription',
                'row_attr': {'class': 'label_input'}})
                }}<br>
            {{ form_row(FigureForm.groupe, {
                label: 'Groupe de la figure',
                'row_attr': {'class': 'label_input'}})
                }}<br>
            {{ form_row(FigureForm.files, {
                label: 'Médias de la figure',
                'row_attr': {'class': 'label_input'}})
                }}<br>

            <button type="submit" class="btn">Créer la figure</button>

        {{ form_end(FigureForm) }}
    
</div>
{% endblock %}
