{% extends 'base.html.twig' %}

{% block title %}{{ figure.nom }}{% endblock %}

{% block main %}
        {% set figureId = app.request.attributes.get('id') %}

    <div id="figure_details">
        <div id="figure_header">
            <div id="figure_option"><a href="{{ path('app_figure_edit', {'id': figureId }) }}">Modifier</a><a href="{{ path('app_figure_delete', {'id': figureId }) }}">Supprimer</a></div>
            <h1>{{ figure.nom }}</h1>
        </div>
        <div id="figure_medias">Medias</div>
        <div id="figure_text">
            <p>{{ figure.description }}<p>
            <div id="figure_informations">
                <div>Groupe : {{ figure.groupe }}</div>
                <div>Créé le : {{ figure.dateCreation|format_datetime('full', 'short') }}</div>
                {% if figure.dateMaj is not null %}<div>Modifié le : {{ figure.dateMaj|format_datetime('full', 'short') }}</div>{% endif %}
                <div>Rédigé par : {{ figure.user.username }}</div>
                </div>
        </div>
        {% if app.user %}
        <form id="comment_form" action="{{ path('app_figure_comment', {'id': figureId }) }}" method="post">
            <label for="comment"></label>
            <input type="text" id="comment" name="comment">
            <button type="submit">Envoyer un commentaire</button>
        </form>
        {% endif %}
        <div id="figure_comments">
        {% if comments is not empty %}
            {% for comment in comments %}
                <div class="comment {{ loop.index > 4 ? "hidden" : "" }}">
                    <img src="/default_profile.jpg">
                    <p title="Écrit par {{ comment.user.username }} le {{ comment.date|format_datetime('full', 'short') }}">{{ comment.commentaire }}</p>
                </div>
            {% endfor %}
                {% if comments|length > 4 %}
                    <span id="load_more">Afficher plus</span>
                {% endif %}
        {% else %}
            <p>Cette figure de snowboard n'a pas encore été commentée.</p>
        {% endif %}
        </div>
    </div>


{% endblock %}


{% block script %}
    <script>
        document.getElementById("load_more").addEventListener("click", ()=> {
            const comments = document.querySelectorAll(".comment.hidden")
            comments.forEach((comment)=>{
                comment.classList.remove("hidden")
            })
        })
    </script>
{% endblock %}
