{% extends 'base.html.twig' %}

{% block title %}{{ figure.nom }}{% endblock %}

{% block main %}
        {% set figureId = app.request.attributes.get('id') %}

    <div id="figure_details">
        <div id="figure_header" style="background-image: url('/images/{% if figure.urlImageCover is not null %}{{ figure.urlImageCover }}{% else %}home_img.jpg{% endif %}')">
        {% if is_granted('ROLE_USER') %}
            <div id="figure_option"><div id="options"><a href="{{ path('app_figure_edit', {'slug': figure.slug }) }}"><img src="/images/pencil.png" alt="Logo d'un crayon" title="Modifier la figure"></a><a href="{{ path('app_figure_delete', {'slug': figure.slug }) }}" onclick="return confirm('Êtes-vous sûr de vouloir supprimer cette figure ?')"><img src="/images/trash.png" alt="Logo d'une corbeille" title="Supprimer la figure"></a></div></div>
        {% endif %}
            <div id="figure_title">
                <h1>{{ figure.nom }}</h1>
            </div>
        </div>
        <div id="figure_medias">
            {% for image in images %}
            <div class="image_media">
                <img class="image_media_file" src="{{ asset('medias/'~image.urlMedia) }}">
            </div>
            {% endfor %}
            {% for video in videos %}
                <div class="image_media">
                    {{ video.urlMedia|raw }}
                </div>
            {% endfor %}
        </div>
        <div id="figure_text">
            <p>{{ figure.description }}<p>
            <div id="figure_informations">
                <div>Groupe : {{ figure.groupe }}</div>
                <div>Créé le : {{ figure.dateCreation|format_datetime('full', 'short') }}</div>
                {% if figure.dateMaj is not null %}<div>Modifié le : {{ figure.dateMaj|format_datetime('full', 'short') }}</div>{% endif %}
                <div>Rédigé par : {{ figure.user.username }}</div>
                </div>
        </div>
        {% if app.user %}
        {{ form_errors(form) }}

        {{ form_start(form, {'attr': {'id': 'comment_form'}}) }}
            {{ form_row(form.commentaire, {
                'row_attr': {'class': 'comment_label_input'}})
                }}<br>
            <button type="submit" class="btn">Envoyer un commentaire</button>

        {{ form_end(form) }}
        {% endif %}
        <div id="figure_comments">
        {% if comments is not empty %}
            {% for comment in comments %}
                <div class="comment {{ loop.index > 4 ? "hidden" : "" }}">
                    <img src="/default_profile.jpg">
                    <p title="Écrit par {{ comment.user.username }} le {{ comment.date|format_datetime('full', 'short') }}">{{ comment.commentaire }}</p>
                </div>
            {% endfor %}
                {% if comments|length > 4 %}
                    <span id="load_more">Afficher plus</span>
                {% endif %}
        {% else %}
            <p>Cette figure de snowboard n'a pas encore été commentée.</p>
        {% endif %}
        </div>
    </div>


{% endblock %}


{% block script %}
    <script>
        document.getElementById("load_more").addEventListener("click", ()=> {
            const comments = document.querySelectorAll(".comment.hidden")
            comments.forEach((comment)=>{
                comment.classList.remove("hidden")
            })
        })
    </script>
{% endblock %}
