<a id="logo" href="{{ path('app_home') }}"><img src="/logo.png" title="Accueil" alt="Logo du site SnowTricks"></a>
<nav>
    <ul>
        <li><a href="{{ path('app_home') }}">Accueil</a></li>|
        <li><a href="{{ path('app_home') }}#tricks_list">Figures</a></li>|
        {% if app.user %}
                <li><a href="{{ path('app_logout') }}">Se déconnecter</a></li>
        {% else %}
        <li><a href="{{ path('app_login') }}" >Se connecter</a></li>|
        <li><a href="{{ path('app_register') }}">S'inscrire</a></li>
        {% endif %}
    </ul>
</nav>